<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstagramTask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9EC5C441D472E2700A648BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9EC5C5D1D472E2800A648BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9EC5C681D472E2800A648BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
